@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: white;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  height: 100vh; }

nav {
  float: left;
  margin-left: 20%;
  height: 10vh; }
  nav #logo {
    margin-top: 20px;
    margin-bottom: 20px; }

.main, .blue, .lightgray {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; }
  .main h1, .blue h1, .lightgray h1 {
    font-size: 34px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 400; }
  .main p, .blue p, .lightgray p {
    color: gray;
    margin: 0 auto;
    width: 80%;
    font-size: 14px; }
  .main .subtitle, .blue .subtitle, .lightgray .subtitle {
    margin-bottom: 1%;
    color: #e6e6e6;
    font-weight: lighter;
    opacity: 0.8; }
  .main .subtitle2, .blue .subtitle2, .lightgray .subtitle2 {
    font-weight: lighter; }
  .main .boxes, .blue .boxes, .lightgray .boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 65%;
    margin-bottom: 58px; }
    .main .boxes .box, .blue .boxes .box, .lightgray .boxes .box {
      width: 20%;
      height: 100%;
      background-color: white;
      margin: 10px;
      color: black;
      text-align: center; }
      .main .boxes .box h2, .blue .boxes .box h2, .lightgray .boxes .box h2 {
        font-weight: normal;
        font-size: 18px;
        margin: 30px 30px 15px; }
      .main .boxes .box .icon, .blue .boxes .box .icon, .lightgray .boxes .box .icon {
        margin-top: 10px; }

#dot {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  left: 49%;
  top: 55%; }

.blue {
  background-color: #004d99;
  height: 47vh;
  color: white; }

.lightgray {
  background-color: #e6e6e6;
  height: 56vh; }
  .lightgray h3 {
    font-weight: normal;
    font-size: 24px;
    margin: 25px auto; }

/* MEDIA QUERIES */
@media (min-width: 320px) and (max-width: 667px) {
  nav {
    margin-left: 24%; }

  .main h1, .blue h1, .lightgray h1 {
    font-size: 28px;
    margin-top: 20px; }
  .main p, .blue p, .lightgray p {
    width: 80%;
    font-size: 12px; }
  .main .boxes, .blue .boxes, .lightgray .boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-bottom: 58px; }
    .main .boxes .box, .blue .boxes .box, .lightgray .boxes .box {
      width: 80%;
      height: 33%;
      background-color: white;
      margin: 15px auto;
      color: black;
      text-align: center; }
      .main .boxes .box h2, .blue .boxes .box h2, .lightgray .boxes .box h2 {
        font-size: 18px;
        margin: 10px auto; }

  #dot {
    left: 45%;
    top: 108%; }

  .blue {
    height: 100vh; }
    .blue .subtitle {
      margin-bottom: 15px; }

  .lightgray {
    height: 105vh; }
    .lightgray h3 {
      font-size: 22px;
      margin: 15px auto; } }
@media (min-width: 375px) and (max-width: 667px) {
  nav {
    margin-left: 26%; }

  #dot {
    left: 47%;
    top: 108%; } }
@media (min-width: 414px) and (max-width: 736px) {
  nav {
    height: 10vh;
    margin-left: 27%; }
    nav #logo {
      margin-top: 20px;
      margin-bottom: 20px; }

  .main p, .blue p, .lightgray p {
    font-size: 16px; }
  .main .boxes .box h2, .blue .boxes .box h2, .lightgray .boxes .box h2 {
    font-size: 20px; }

  #dot {
    left: 46%;
    top: 108%; } }
@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    margin-left: 18%; }

  #dot {
    left: 48%;
    top: 58.5%; }

  .blue {
    height: 50vh; }
    .blue .subtitle {
      margin-bottom: 15px;
      font-size: 18px; }

  .lightgray {
    height: 57vh; }
    .lightgray .subtitle2 {
      font-size: 18px; } }

/*# sourceMappingURL=style.css.map */
