@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  height: 100vh;
}

nav {
  float: left;
  margin-left: 20%;
  height: 10vh;

  #logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  h1 {
    font-size: 34px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: 400;
  }

  p {
    color: gray;
    margin: 0 auto;
    width: 80%;
    font-size: 14px;
  }

  .subtitle {
    margin-bottom: 1%;
    color: #e6e6e6;
    font-weight: lighter;
    opacity: 0.8;
  }

  .subtitle2 {
    font-weight: lighter;
  }

  .boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 65%;
    margin-bottom: 58px;

    .box {
      width: 20%;
      height: 100%;
      background-color: white;
      margin: 10px;
      color: black;
      text-align: center;

      h2 {
        font-weight: normal;
        font-size: 18px;
        margin: 30px 30px 15px;
      }

      .icon {
        margin-top: 10px;
      }
    }
  }
}

#dot {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  left: 49%;
  top: 55.5%;
}

.blue {
  @extend .main;
  background-color: #004d99;
  height: 47vh;
  color: white;
}

.lightgray {
  @extend .main;
  background-color: #e6e6e6;
  height: 56vh;

  h3 {
    font-weight: normal;
    font-size: 24px;
    margin: 25px auto;
  }
}
/* MEDIA QUERIES */
@media (min-width: 320px) and (max-width: 667px) {
nav {
  margin-left: 24%;
}
  .main {
    h1 {
      font-size: 28px;
      margin-top: 20px;
    }

    p {
      width: 80%;
      font-size: 12px;
    }

    .boxes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      margin-bottom: 58px;

      .box {
        width: 80%;
        height: 33%;
        background-color: white;
        margin: 15px auto;
        color: black;
        text-align: center;

        h2 {
          font-size: 18px;
          margin: 10px auto;
        }
      }
    }
  }

  #dot {
    left: 45%;
    top: 108%;
  }

  .blue {
    height: 100vh;

    .subtitle {
      margin-bottom: 15px;
    }
  }

  .lightgray {
    height: 105vh;

    h3 {
      font-size: 22px;
      margin: 15px auto;
    }
  }
}

@media (min-width: 375px) and (max-width: 667px) {
  nav {
    margin-left: 26%;
  }

  #dot {
    left: 47%;
    top: 108%;
  }
}
@media (min-width: 414px) and (max-width: 736px) {
  nav {
    height: 10vh;
    margin-left: 27%;

    #logo {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .main {
    p {
      font-size: 16px;
    }

    .boxes .box h2 {
      font-size: 20px;
    }
  }

  #dot {
    left: 46%;
    top: 108%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  nav {
    margin-left: 18%;
  }

  #dot {
    left: 48%;
    top: 58.5%;
  }

  .blue {
    height: 50vh;

    .subtitle {
      margin-bottom: 15px;
      font-size: 18px;
    }
  }

  .lightgray {
    height: 57vh;

    .subtitle2 {
      font-size: 18px;
    }
  }
}
